/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace components "views.components/*";

@namespace components1 "views.components.*";
global
{
	/*
	text-align: center;
	content-background-color: #FFFFFF;
	*/
	fontFamily: "StandardRegularAllCase";
}
s|Label  {
	fontSize: 20;
	fontFamily: "StandardRegularAllCase";	
	color: #FFFFFF;
	
}
s|Label#frontMessage  {
	fontSize:57;
	fontFamily: "StandardRegularAllCase";
	
}

#photoList s|Label  {
	fontSize: 24;
	fontFamily: "StandardRegular";
	color: #FFFFFF;
		
}
#titleDisplay 
{
	fontSize: 43;
	fontFamily: "StandardRegularAllCase";
	color:#00AEEF;
	textAlign: center;
}

.registrationOne{
	fontSize: 112;
	fontFamily:"PremiereLeague";
	color:#FFFFFF;
}

.registrationTwo{
	fontSize: 57;
	fontFamily:"StandardRegularAllCase";
	fontWeight:bold;
	color:#00ADEE;
}

.registrationThree{
	fontSize: 40;
	fontFamily:"StandardRegularAllCase";
	color:#FFFFFF;
}

.registrationFour{
	fontSize: 25;
	fontFamily:"StandardRegularAllCase";
	color:#00ADEE;
}

.welcomeBackHeader{
	fontSize: 112;
	fontFamily:"PremiereLeague";
	color:#FFFFFF;
}

.verysmallprint {
	fontSize: 14;
	fontFamily: "StandardRegularAllCase";
	color:#FFFFFF;
	
}
.smallprint {
	fontSize: 21;
	fontFamily: "StandardRegularAllCase";
	color:#FFFFFF;
}
.smallprintLink {
	fontSize: 21;
	fontFamily: "StandardRegularAllCase";
}
s|FormHeading s|Label#labelDisplay {
	fontSize: 32;
	fontFamily: "StandardRegularAllCase";
	color: #FFFFFF;
	fontWeight: normal;
}

s|FormHeading#frontMessage s|Label#labelDisplay {
	fontSize: 57;
	fontFamily: "StandardRegularAllCase";
	color: #FFFFFF;
	fontWeight: normal;
}
s|FormItem
{
	skinClass: ClassReference("skins.BarclaysFormItem");	
}
s|FormItem s|Label#labelDisplay {
	color: #00AEEF;
	fontSize: 30;
}
#labelDisplay, .formItemLabelStyles {
	fontSize: 32;
	fontFamily: "StandardRegularAllCase";
	color: #FFFFFF;
	fontWeight: normal;
}
s|FormItem s|Label#labelDisplay, s|RadioButton s|Label,
{
	fontFamily: "StandardRegularAllCase";
}

s|VGroup.Game s|Label
{
	fontSize: 32;
	fontFamily: "StandardRegularAllCase";
	textAlign: left;
	color: #FFFFFF;
}

s|VGroup.Game s|Label.userInfo
{
	fontSize: 32;
	fontFamily: "StandardRegularAllCase"; 
	textAlign: left;
	color: #FFFFFF;
}

s|VGroup.Game s|Label.heading
{
	fontSize: 32;
	fontFamily: "StandardRegularAllCase";
	textAlign: left;
	color: #FFFFFF;
}
s|Button {
	skinClass: ClassReference("skins.vodafoneButton");
	fontFamily: "StandardRegularAllCase";
	fontSize: 28;
	font-weight: normal;
}
.buttonLabel {
	fontFamily: "StandardRegularAllCase";
	fontSize: 28;
}
s|TextInput {
	fontFamily: "Vodafone ExB";
	fontSize: 32;
}
s|RadioButton {
	skinClass: ClassReference("skins.vodafoneRadioButton");
	
}
s|RadioButton #labelDisplay {
	fontSize:18;
	
}

s|CheckBox {
	skinClass: ClassReference("skins.vodafoneCheckBox");
}
s|TextInput
{
	skinClass: ClassReference("skins.vodafoneTextInput");
}

s|Button.nav
{
	skinClass: ClassReference("skins.BasicButton");
	color: #FFFFFF;

	
}
mx|ViewStack mx|VBox
{
	horizontalAlign: "center";
	verticalAlign: "middle";
	width:"100%";
	height:"100%"
	
}
.thankyou
{
	fontFamily: "StandardRegular";
	
	fontSize: 280;
	color: #00AEEF;
	lineHeight: 0px;
}
.tclink, .tcaccept#labelDisplay {
	fontSize: 28;
	fontFamily: "StandardRegularAllCase";
}
.tclink {
	textDecoration: underline;
	fontFamily: "StandardRegularAllCaseBold";
}
s|Label#welcomeBackUser{
	fontSize:95;
	fontFamily: "StandardRegularAllCase";
	color:#00AEEF;
}
components1|CameraSelectionPanel{
	fontSize:50;
	fontFamily: "StandardRegularAllCase";
	color:#00AEEF;
}

s|Label#cameraInstruction{
	fontSize:40;
	color:#FFFFFF;
	fontFamily:"ExpertSans";
}

s|Label#countdownInstruction{
	fontSize:57;
	color:#FFFFFF;
	fontFamily:"ExpertSans";
}

s|Label#countdownValueMain{
	fontSize:480;
	fontFamily:"PremiereLeague";
	color:#00AEEF;
}

s|Label#countdownValueSecond{
	fontSize:140;
	fontFamily:"PremiereLeague";
	color:#FFFFFF;
}

s|Label#cameraFullMessageMain{
	fontSize:280;
	fontFamily:"PremiereLeague";
	color:#00AEEF;
}

s|Label#cameraFullMessageSecond{
	fontSize:200;
	fontFamily:"PremiereLeague";
	color:#00AEEF;
}